spring:
  application:
    name: garden-day-back
  
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/gardenday}
    username: ${DATABASE_USER:gardenday}
    password: ${DATABASE_PASSWORD:gardenday}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

logging:
  level:
    com.gardenday: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG

